<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
    <h1>Adds Pizza's</h1>
    <form method="POST">
		<label>Pizza name</label>
		<input type="text" name="name">
		<br>
		<label>description</label>
		<input type="text" name="description">
		<br>
		<label>Image url</label>
		<input type="url" name="img">
		<br>
		<label>Price</label>
		<input type="number" name="price">
		<br>
		
		<input type="submit" value="CREATE">
	</form>
    
</body>
</html>